* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #212847;
  --color-secondary: #273854;
  --color-secondary-light: #717e94;
  --color-tertiary: #61DAFB;
  --color-gray: #626779;
  --color-white: #F7F7FA;
}

::-webkit-scrollbar {
  width: 10px;
  transition: all .4s ease;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
}

@media handheld {
  ::-webkit-scrollbar {
    visibility: hidden;
  }
}

html { 
  scroll-behavior: smooth; 
}

body {
  font-family: sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.title--primary {
  font-size: 80px;
  color: var(--color-white);
  letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
  .title--primary {
    font-size: 60px;
  }
}

.title--secondary, .title--tertiary {
  text-transform: uppercase;
  font-weight: 400;
}

.title--secondary {
  padding: 50px;
  text-align: start;
}

@media screen and (max-width: 620px) {
  .title--primary {
    font-size: 45px;
  }
  .title--secondary {
    padding: 50px 0;
    text-align: center;
  }
}

.title--tertiary {
  letter-spacing: 2px;
  padding: 20px 0 40px 0;
}

.btn {
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-tertiary);
  transition: all .4s ease-in;
}

.btn:hover {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  border: 1px solid var(--color-tertiary); 
}

.btn:active {
  transform: translateY(5px);
}

.about__download-cv {
  text-align: center;
  margin-top: 2rem;
}

.about__link {
  border-bottom: 2px solid var(--color-gray);
  color: var(--color-gray);
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 3px;
  transition: all .5s;
}

.checkpoints__list {
  list-style: none;
}

.checkpoints__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.checkpoints__icon {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 1.2rem;
  filter: invert(69%) sepia(94%) saturate(1298%) hue-rotate(170deg) brightness(110%) contrast(97%);
  opacity: .7;
}

@media screen and (max-width: 620px) {
  .checkpoints__list-item {
    font-size: 20px;
  }
  .checkpoints__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 30px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar__list {
  list-style: none;
  display: flex;
  color: inherit;
}

.navbar__btn {
  display: none;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);
  background-color: transparent;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

.navbar__btn:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.navbar__btn:hover .navbar__btn-content span {
  background-color: var(--color-secondary);
}

.navbar__btn-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar__btn-content span {
  width: 1.2rem;
  height: 2px;
  margin: 2.2px 0;
  background-color: var(--color-tertiary);
}

@media screen and (max-width: 830px) {
  .navbar {
    justify-content: flex-end;
  }
  .navbar__list {
    display: none;
  }
  .navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar__list a {
  text-decoration: none;
  color: inherit;
  margin-right: 30px;
  font-size: 20px;
  transition: all .4s ease;
}

.navbar__list a:hover {
  color: var(--color-tertiary);
}

.navbar__list--sm {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  transition: all .8s ease-in-out;
  animation: fadeIn 1s ease;
}

.navbar__list--sm li {
  margin-top: 30px;
}

.navbar__list--sm li a:hover {
  color: var(--color-tertiary);
}

.navbar__list--sm li a {
  color: var(--color-white);
  font-size: 40px;
  transition: all .4s ease;
}

@media screen and (max-width: 830px) {
  .navbar__list--sm li:nth-of-type(1) {
    margin-top: 0;
  }
  .navbar__list--sm li a {
    font-size: 30px;
  }
}

.intro {
  text-align: center;
  padding: 20px;
}

.intro__content {
  margin: 10vh auto;
}

.intro__quote {
  text-align: center;
  max-width: 750px;
  margin: 30px auto 60px;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 2px;
  color: var(--color-secondary-light);
}

@media screen and (max-width: 830px){
  .intro__quote {
    max-width: 550px;
    font-size: 20px;
  }
}

.about {
  padding-bottom: 60px;
  background-color: var(--color-white);
  color: black;
}

.about__content {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

.about__text {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 80px;
  line-height: 2.2;
  letter-spacing: 1px;
  font-size: 15px;
  color: var(--color-primary);
}

.about__text p {
  margin-bottom: 20px;
  line-height: 2;
  color: var(--color-primary);
}

.about__checkpoints {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1020px) {
  .about__content {
    flex-direction: column;
  }
  .about__checkpoints {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  .about__text {
    padding: 25px 15px 0 15px;
    flex-basis: content;
  }
}

.skills {
  background-color: var(--color-primary);
  text-align: center;
  padding-bottom: 80px;
}

.skills__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto 50px auto;
}

.row {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 820px){
  .row {
    display: flex;
    
  }
  .row:nth-of-type(1) {
    margin-bottom: 50px;
  }
  .skills__list {
    flex-direction: column;
  }
}

.skills__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  letter-spacing: 1px;
  font-size: 12px;
  opacity: .8;
}

.skills__list-item img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

@media screen and (max-width: 620px) {
  .skills__list-item img {
    height: 70px;
    width: 70px;
  }
}

.skills__secondary-list {
  max-width: 1100px;
  margin: -5px auto 0 auto;
  line-height: 2.2;
  letter-spacing: 1px;
  font-size: 15px;
  opacity: .7;
}

.projects {
  background-color: var(--color-secondary);
  padding-bottom: 50px;
}

.projects__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 10px auto 0 auto;
}

@media screen and (min-width: 760px) and (max-width: 1020px) {
  .projects__container::after {
    content: "";
    width: 230px;
    margin: 10px;
  } 
}

.projects__card {
  margin: 10px;
  text-decoration: none;
  margin-bottom: 40px;
  border-radius: 3px;
  width: 230px;
  height: 200px;
  padding: 22px;
  text-align: center;
  background-color: var(--color-tertiary);
  opacity: 1;
  color: black;
  transition: all .4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.projects__card:hover {
  opacity: .8;
}

.projects__card-header {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 14px;
}

.projects__card:active {
  transform: translateY(5px);
}

.projects__img {
  width:50px;
  height: 50px;
  margin: 15px auto;
}

.projects__img--delivery {
  width: 60px;
  height: 60px;
}

.projects__description {
  font-size: 14px;
}

.values {
  color: black;
  text-align: center;
  background-color: var(--color-white);
  padding: 80px auto;
}

.values__content {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  color: var(--color-primary);
  padding-bottom: 50px;
}

@media screen and (max-width: 920px) {
  .values__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
    margin: 0 auto;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 30px;
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer__link-home {
  position: absolute;
  left: 30px;
  top: 50%;
  color: white;
  letter-spacing: 1px;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  justify-self: flex-start;
}

@media screen and (max-width: 620px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 180px;
  }
  .footer__link-home {
    position: relative;
    left: auto;
    top: auto;
  }
}

.footer__link-home:hover {
  color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.wrapper {
  display: inline-flex;
  list-style: none;
  color: black;
}

.wrapper .icon {
  position: relative;
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--color-white);
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background-color: #D64135;
  color: var(--color-white);
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #128C7E;
  color: var(--color-white);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0A66C2;
  color: var(--color-white);
}

.contact-icon {
  filter: invert(12%) sepia(31%) saturate(7%) hue-rotate(22deg) brightness(900%) contrast(96%);
  margin-bottom: -1rem;
}

.contact-icon:hover {
  filter: invert(69%) sepia(94%) saturate(1298%) hue-rotate(170deg) brightness(110%) contrast(97%);
}

@media screen and (max-width: 720px) {
  .contact-icon {
    transform: scale(.75);
  }
}

.contact-icon--1 {
  width: 9rem;
  height: 9rem;
  margin-bottom: -2.5rem;
}

.contact-icon--2 {
  width: 6.5rem;
  height: 6.5rem;
}

.contact-icon--3 {
  width: 7rem;
  height: 7rem;
}

.contact-icon--small {
  width: 1.2rem;
  height: 1.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  opacity: 0;
  z-index: 9000;
  animation: fadeIn .3s ease-in-out forwards;
}

.overlay__content {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120px;
  transform: all .4s ease-in;
}

.overlay__option {
  text-decoration: none;
  color: var(--color-white);
  transition: all .4s ease;
  margin-bottom: .5rem;
}

.overlay__option:hover {
  transform: scale(1.1);
  color: #60D7FA;
}

.overlay__option-name {
  font-size: 15px;
  text-align: center;
}

.overlay__option:nth-of-type(1) {
  font-size: 114px;
}

.overlay__option:last-of-type {
  font-size: 122px;
}

.overlay__option:hover {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .overlay__option {
    font-size: 90px;
  }
  .overlay__option:nth-of-type(1) {
    font-size: 85px;
  }
  .overlay__option:last-of-type {
    font-size: 93px;
  }
  .overlay__option-name {
    font-size: 12px;
    margin-top: -.8rem;
  }
  .overlay__option-name--3 {
    margin-top: -1.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* UTILITIES */
.d-none {
  display: none;
}